{% extends 'base.html' %}      {# фрагмент кода который вставляеться в base.html(между{% block content %} и  {% endblock content %}  #}
{% load static %}              <!--загрузить паку static(load-агрузить)-->


{% block content %}            {# начало блока контент #}

     <div class="container">         {# Он имеет строго определённую ширину для определённого типа устройств. Т.е. для одного устройства контейнер имеет одну ширину, для другого устройства - другое значение ширины. Bootstrap требует этот элемент для row(обязательный)тип устройства задаеться ниже у нас lg-компьютер #}

        <div class="row">        {#1 ряд в строке  в бутстрепе этозадаетьсясетка описанная ниже #}

            <div class="col-lg-8">   {# ряд или ячейка будет сосаять 6 столбцов из 12 #}
          <form>
		<div><label>Первое число:</label><input type="text" name="first" placeholder="Введите число"/></div>
		<div><label>Второе число:</label><input type="text" name="second" placeholder="Введите число"/></div>
		<div><label>Выберите действие:</label>
			<select name="action">
				<option>+</option>
				<option>-</option>
				<option>*</option>
				<option>/</option>
			</select>

		</div>

		<div><input type="button" class="btn btn-success" name="send" value="="/></div>
		<div><label>Результат:</label><input type="text" name="result" placeholder="Ответ"/></div>
	</form>
</div>


            </div>
            </div>
     </div>

{% endblock %}