{% extends 'base.html' %}      {# фрагмент кода который вставляеться в base.html(между{% block content %} и  {% endblock content %}  #}
{% load static %}              <!--загрузить паку static(load-агрузить)-->


{% block content %}            {# начало блока контент #}
     <div class="container">         {# Он имеет строго определённую ширину для определённого типа устройств. Т.е. для одного устройства контейнер имеет одну ширину, для другого устройства - другое значение ширины. Bootstrap требует этот элемент для row(обязательный)тип устройства задаеться ниже у нас lg-компьютер #}

        <div class="row">        {#1 ряд в строке  в бутстрепе этозадаетьсясетка описанная ниже #}

            <div class="col-lg-8">   {# ряд или ячейка будет сосаять 6 столбцов из 12 #}
        <h3>Контакты</h3>
        <p>Общество с ограниченной ответственностью ООО "Geo+" </p>
         <p>Мы работаем с понедельника по пятницу с 9:30 до 18:00 (в пятницу до 17:00), без перерыва на обед </p>
         <h3>Головной офис в г. Москва</h3>
         <p>Фактический адрес:  Московская область, Ленинский район, деревня Бутово,ЖК "Бутово-Парк",д.15</p>
          <p>Телефоны: 8 (966) 020-97-74, 8 (496) 542-39-04</p>
          <p>Отдел продаж: safonov-georgiy@mail.ru</p>
          <p>Сервисный отдел: safonov-georgiy@mail.ru</p>
          <h3>Схема проезда в компанию ООО "Geo+", г. Москва</h3>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1128.6324702511488!2d37.589809648801676!3d55.54517180757293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414aadd4df81e2c9%3A0xf7092fe3253121b1!2z0JbQuNC70L7QuSDQmtC-0LzQv9C70LXQutGBINCR0YPRgtC-0LLQvi3Qn9Cw0YDQuiwgMTUsINCR0YPRgtC-0LLQviwg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMTE3NjIz!5e0!3m2!1sru!2sru!4v1507467573828" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
             </div>
            </div>
     </div>
{% endblock %}