
html,body{

    height: 100%;    /*высота элемена*/
    max-height: 100%;  /*максимальная высота элемена*/
    font-family: 'Roboto', sans-serif;/*скопированный с гугла стиль текта*/
    background-color: #edeef0; /* цвет фона серый*/

}
/*.section-top{*/
    /*margin: 20px;*/
/*}*/
.product-item{           /*стиль контейнера где выводиться картинак имя товара цена и кнопка*/
    height: 390px;          /*высота контейнера в пикселях*/

    background-color: white;    /*цвет фона*/
    border: 1px solid lightgrey;   /*граница элемента величина стиль цвет*/
    position: relative;       /*позиция -relative-Положение элемента устанавливается относительно его исходного места.*/
    padding: 10px 0 10px 0;           /*отступ содержимого от края элемента*/
    text-align: center;         /*выравнивание текста*/
}
.add-to-cart-btn{             /*стиль контейнера с кнопкой*/
    position: absolute;       /*позиция absolute-тоесть положение задаеться от элемента предка в данном примере product-item ниже элементы задают положение*/
    bottom: 15px;            /*смешение от нижниге края*/
    left: 50px;               /*смешение от левого края*/
}
.discount-container{          /*контейнер котрый отвечает за скидки как они будут отображаться*/
    position: absolute;
    top:10%;
    background: #55e073;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.wrapper-content{  /*перевод контент оберки*/
    overflow: auto; /*если контент будет вылазить за рамки будет автоматически добовляться полоса прокрутки*/
    padding-bottom: 180px; /*расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое тоесть тоеть растояние от низа 180пикселей*/
}

.footer{
    position: relative; /*Положение элемента устанавливается относительно его исходного места */
    margin-top: -180px; /* Устанавливает величину отступа от верхнего края элемента. Отступом является расстояние от внешнего края верхней границы текущего элемента до внутренней границы его родительского элемента */
    height: 80px;   /*высота элемпента*/
    clear: both;   /*нельзя обтекать элемнрт  и слевого и прввого края*/
    background-color: white;   /*цвет фонга */
}
.product-description{
    padding: 10px;
}
.product-image-item{
    padding: 5px;
    margin-bottom: 5px;
}

.basket-container{           /*контейнер куда заключено слово корзина и ссылка на крзину*/
    position: relative;      /*Положение элемента устанавливается относительно его исходного места */
    top:17px;                /*отступ сверху 17 пикселей*/


}

.basket-items{              /*контейнер куда заключеносодержание корзины*/
    position: absolute;     /*позиция absolute-тоесть положение задаеться от элемента предка в данном примере basket-container ниже элементы задают положение*/
    top:33px;                /*отступ сверху 33 пикселей*/
    right:1px;               /*отступ  справо от корзины 1 пиксель*/
    width: 350px;             /*ширина элемента 200%*/
    background-color: #f8f8f8;   /*цвет фона серый такойже как у нав бара*/
    z-index: 10;    /*наложение элемента на другой*/
    padding: 10px;  /*растояние вокруг содержимого элемента 10 пикселей*/
}