
.title{
    text-align: center; /*выравнвание текста*/
    color: red; /*цвет текта*/
    font-weight: 100; /*насышеность тоесть насколько тостый*/
    line-height: 50px; /*межстросчный интервал текста*/
}