
{% load static %} <!--загрузить паку static(load-агрузить)-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Привет</title>

    <!-- Bootstrap(подключение)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- подключение тектовых стилей гугла-->
   <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900" rel="stylesheet">

    <!-- Custom styles(подключение пользовательчского стиля из паки static -->
    <link rel="stylesheet" href="{% static 'style.css' %}">


</head>
<body>
<div class="wrapper">   <!-- контейнер с классом general-container  описанный css-->
<div class="wrapper-content">

        {% include 'navbar.html' %}
        {% block content %}


        {% endblock content %}


</div>
</div>
{% include 'footer.html' %}

{#    {{ name }}#}

    <!-- jQuery(ссылка на библиотеку) -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</body>
</html>