  <!-- Static navbar -->


    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Geo+</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Домой</a></li>  <!--при нажатии на слово домой будет переход на коренвую папку  localhost:8000 -->

            <li><a href="/contact/">Контакты</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Каталог <span class="caret"></span></a>



                       <ul class="dropdown-menu">



                        <li><a href="/#1">Техеометры</a></li>
                        <li><a href="/#2">GPS-ПРИЕМНКИ</a></li>
                        <li><a href="/#3">Цифровые нивелиры</a></li>
                        <li><a href="/#4">Сканеры</a></li>
                        <li><a href="/#5">Лазерные рулетки</a></li>





              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">

               <div class="basket-container">
                   <a href="/checkout/">
                       Корзина
                       <span id="basket_total_amount"></span><span id="basket_total_nmb">

                         {% if products_total_nmb %}       {# переменная описанная в context_processors.py(списокобъетыв находяшихся в корзине )(условие еслиона существует#}
                           ({{ products_total_nmb }})     {# выводим переменую в html если она есть #}
                      {% else %}
                         (0)                  {# выводим ноль если ее нет #}
                      {% endif %}
                   </span>
                   </a>
              <div class="basket-items hidden">   {# hidden-элемент становиться невидимым #}
                  <ul class="">
                       {% for product_in_basket in products_in_basket %}   {# запиус цикла поо перебору значений перемменой(словаря) products_in_basket описанной в orders/views #}


                               <li>

                                  {{ product_in_basket.product.name }} {{ product_in_basket.nmb }} шт.        {# вывод имени и количества по  элеменнту цикла #}

                                    по {{ product_in_basket.price_per_item }} руб.          {# вывод цены по элементу цикла #}
                                    <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}">x</a>     {# вывод крестика для удаление класса delete-item  data-product_id(дата атрибут атрибут который меняет значение по id и присвоение ему значению по значению id элемента цикла#}


                                </li>

                  {% endfor %}

                  </ul>
              </div>
            </div>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>