{% extends 'base.html' %}        {# фрагмент кода который вставляеться в base.html(между{% block content %} и  {% endblock content %}  #}
{% load static %}                <!--загрузить паку static(load-агрузить)-->


{% block content %}   {# начало блока контент #}


       <div class="section section1">   {# контейнер section и section1 секция и секция 1 #}

{#        <div class="container">{# Он имеет строго определённую ширину для определённого типа устройств. Т.е. для одного устройства контейнер имеет одну ширину, для другого устройства - другое значение ширины. Bootstrap требует этот элемент для row(обязательный)тип устройства задаеться ниже у нас lg-компьютер #}
{#            <div class="row"> {# ряд в бутстрепе этозадаетьсясетка описанная ниже #}
{##}
{##}
{##}
{#               <div class="col-lg-12"> {# тоесть такак в бутстрепе строка делеться на 12 рядов тоесть данный контейнер будет представлять рад из целековой строки #}
{#                   <h1 class="text-center"> {# свойство bootstrap при которором тект выраниваеться по центрув что применимо  токо  к этому заголовку #}
{#                       Новые поступления#}
{#                   </h1>#}
{#                   {% for product_image in products_images %} {# запускаеться цикл который будет объекты вв переменной products_images #}
{##}
{#                       {% include 'landing/product_item.html' %}  {# вставка содержимого старницы которая находиться templateslanding/product_item.html #}
{#                {% endfor %}   {# конец цикла #}
{##}
{##}
{#               </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#       </div>#}
{##}



     <div class="section section2 totalstation-container" >

        <div class="container">

            <div class="row">

               <div class="col-lg-12">
                   <h1 class="text-center" >
                       <a name="1"></a>
                       Тахеометры
                   </h1>
                   {% for product_image in products_images_total_station %}
                 {% include 'landing/product_item.html' %}
                {% endfor %}



               </div>

            </div>
        </div>
  </div>



<div class="section section3 totalstation-container">

        <div class="container">

            <div class="row">

               <div class="col-lg-12">
                   <h1 class="text-center">
                       <a name="2"></a>
                       GPS-ПРИЕМНКИ
                   </h1>
                   {% for product_image in products_images_gps %}
                 {% include 'landing/product_item.html' %}
                {% endfor %}



               </div>

            </div>
        </div>
  </div>

<div class="section section4 totalstation-container">

        <div class="container">

            <div class="row">

               <div class="col-lg-12">
                   <h1 class="text-center">
                       <a name="3"></a>
                       Цифровые нивелиры
                   </h1>
                {% for product_image in products_images_nivelir %}
                   {% include 'landing/product_item.html' %}
                {% endfor %}



               </div>

            </div>
        </div>
  </div>



<div class="section section5 totalstation-container">

        <div class="container">

            <div class="row">

               <div class="col-lg-12">
                   <h1 class="text-center">
                       <a name="4"></a>
                       Сканеры
                   </h1>
                   {% for product_image in products_images_scaner %}
                 {% include 'landing/product_item.html' %}
                {% endfor %}



               </div>

            </div>
        </div>
  </div>


<div class="section section6 totalstation-container">

        <div class="container">

            <div class="row">

               <div class="col-lg-12">
                   <h1 class="text-center">
                       <a name="5"></a>
                       Лазерные рулетки
                   </h1>
                   {% for product_image in  products_images_lruletca %}
                 {% include 'landing/product_item.html' %}
                {% endfor %}



               </div>

            </div>
        </div>
  </div>



{% endblock %}