{% extends 'base.html' %}
{% load static %}


{% block content %}


       <div class="section section1">

        <div class="container">

            <div class="row">



               <div class="col-lg-12">
                   <h1 class="text-center">
                       Новые поступления
                   </h1>
                   {% for product_image in products_images %}

                       {% include 'landing/product_item.html' %}
                {% endfor %}


               </div>

            </div>
        </div>
       </div>




     <div class="section section2 totalstation-container">

        <div class="container">

            <div class="row">

               <div class="col-lg-12">
                   <h1 class="text-center">
                       Тахеометры
                   </h1>
                   {% for product_image in products_images_total_station %}
                 {% include 'landing/product_item.html' %}
                {% endfor %}



               </div>

            </div>
        </div>
  </div>



<div class="section section3 totalstation-container">

        <div class="container">

            <div class="row">

               <div class="col-lg-12">
                   <h1 class="text-center">
                       GPS-ПРИЕМНКИ
                   </h1>
                   {% for product_image in products_images_gps %}
                 {% include 'landing/product_item.html' %}
                {% endfor %}



               </div>

            </div>
        </div>
  </div>

<div class="section section4 totalstation-container">

        <div class="container">

            <div class="row">

               <div class="col-lg-12">
                   <h1 class="text-center">
                       Цифровые нивелиры
                   </h1>
                {% for product_image in products_images_nivelir %}
                   {% include 'landing/product_item.html' %}
                {% endfor %}



               </div>

            </div>
        </div>
  </div>



<div class="section section5 totalstation-container">

        <div class="container">

            <div class="row">

               <div class="col-lg-12">
                   <h1 class="text-center">
                       Сканеры
                   </h1>
                   {% for product_image in products_images_scaner %}
                 {% include 'landing/product_item.html' %}
                {% endfor %}



               </div>

            </div>
        </div>
  </div>


<div class="section section6 totalstation-container">

        <div class="container">

            <div class="row">

               <div class="col-lg-12">
                   <h1 class="text-center">
                       Лазерные рулетки
                   </h1>
                   {% for product_image in  products_images_lruletca %}
                 {% include 'landing/product_item.html' %}
                {% endfor %}



               </div>

            </div>
        </div>
  </div>



{% endblock %}