{% load static %} <!--загрузить паку static(load-агрузить)-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Привет</title>

    <!-- Bootstrap(подключение)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- подключение тектовых стилей гугла-->
   <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900" rel="stylesheet">

    <!-- Custom styles(подключение пользовательчского стиля из паки static -->
    <link rel="stylesheet" href="{% static 'landing.css' %}">


</head>
<body>
<div class="general-container">   <!-- контейнер с классом general-container  описанный css-->

    <div class="container top-container">    <!--container- это bootstrap(оформление сетки своей )top-container(класс описываемый в css) -->

        <div class="col-lg-8 col-lg-offset-2"> <!-- bootstrap - ообъединение для компа на 8 колонки и смешенно на 2 колонки вправо(всего 12) -->


    <h1 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Наш магазин скоро откроеться!</h1>  <!-- &nbsp;(пробел) -->
     <h1 class="title">&nbsp;Оставте ваше Имя и Email в форме ниже и мы обязательно собщим вам об окрытии.</h1>

        <form action="" method = "post" class="form-inline">{% csrf_token %}  <!--если <form action="" method = "post"> d django пишем  {% csrf_token %} -->

             <div class="form-group ">   <!-- form-group это bootstrap  css-form-exemple-->
                  <label class ="label">Email</label>
                 <div class="form-control">   <!-- form-control это bootstrap  css-form-exemple-->
                     {{ form.email }}  <!-- выводи элемент формы email инпут который при вводе которого появиться данные в админке-->
                 </div>

              </div>
             <div class="form-group">    <!-- form-group это bootstrap  css-form-exemple-->
                  <label class ="label">Ваше имя</label>
                 <div class="form-control">     <!-- form-control это bootstrap  css-form-exemple-->
                      {{ form.name }}  <!-- выводи элемент формы name инпут который при вводе которого появиться данные в админке-->
                    </div>

             </div>

          <!--  <div>
                  <button type="submit" class="btn btn-primary">Отправить</button>  <!--submit-Кнопка для отправки данных формы на сервер.  -->
           <!-- btn btn-primary-это bootstrap -оформление кнопки  -->
     <!--       </div>   -->
               <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
    </div>


</div>

{#    {{ name }}#}

    <!-- jQuery(ссылка на библиотеку) -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</body>
</html>