{% load static %} <!--загрузить паку static(load-агрузить)-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Привет</title>

    <!-- Bootstrap(подключение)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- подключение тектовых стилей гугла-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">

    <!-- Custom styles(подключение пользовательчского стиля из паки static -->
    <link rel="stylesheet" href="{% static 'style.css' %}">


</head>
<body>
<div class="container">   <!--  bootstrap -оформление грница от браузера  -->

    <div class="row">    <!-- это bootstrap -оформление  подключение сетки сторка единая -->

        <div class="col-lg-4 col-lg-offset-4">  <!--bootstrap - ообъединение для компа на 4 колонки и смешенно на 4 колонки вправо(всего 12) -->


    <h1 class="title">Наш магазин скоро откроеться</h1>
     <h1 class="title">Оставте ваш еммэил в форме ниже</h1>
    <div>
        <form action="" method = "post">{% csrf_token %}  <!--если <form action="" method = "post"> d django пишем  {% csrf_token %} -->
{#        {{ form }}#}  <!--все поля в одну строку будут выводится  -->
        {{ form.as_p }} <!--as_p разбивает поля формы построчно  -->
            <div>
        <button type="submit" class="btn btn-primary">Отправить</button>  <!--submit-Кнопка для отправки данных формы на сервер.  -->
           <!-- btn btn-primary-это bootstrap -оформление кнопки  -->
            </div>

            </form>
    </div>
        </div>
 </div>

{#    {{ name }}#}

    <!-- jQuery(ссылка на библиотеку) -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</body>
</html>