{% load static %} <!--загрузить паку static(load-агрузить)-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Привет</title>

    <!-- Bootstrap(подключение)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- подключение тектовых стилей гугла-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">

    <!-- Custom styles(подключение пользовательчского стиля из паки static -->
    <link rel="stylesheet" href="{% static 'style.css' %}">


</head>
<body>

    <h1 class="title">Привет1</h1>
     <h1 class="title">Как дела</h1>
    {{ name }}

    <!-- jQuery(ссылка на библиотеку) -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</body>
</html>