                     {# фрагмен кода который описывает ячейку с товаров(priduct-item-товарная позиция) #}
                       <div class="col-lg-3"> {# контейнер bootstrap который занимаеть 3 столбца из 12 #}
                  <div class="product-item">    {#контейнер class="product-item"--описан в stylt.css #}
                      <div >
                          <a href="{% url 'product' product_image.product.id %}">   {# ссылка на объект класса product по id #}
                          <img src="{{ product_image.image.url }}" class="img-responsive"> {# ссылка на картинку по юрл #}
                          </a>


                      </div>
                      {% if product_image.product.discount %}   {# если есть скидка тоесть знасенре введинов админке #}
                      <div class="discount-container">  {# описан в style css #}
                          <span>{{ product_image.product.discount }}%</span> {# span-строчный элемент #}
                      </div>
                      {% endif %}
                  <h4>{{ product_image.product.name }}</h4>   {# вывод имени продукта #}
                      <div>
                          {{product_image.product.price }} руб.   {# вывод цены продукта #}
                      </div>

                      <div class="add-to-cart-btn">   {# описан style css #}
{#                            <a href="{% url 'product' product_image.product.id %}">   {# ссылка на объект класса product по id #}

                             <form id="form_buying_product" class=" form-inline" action="{% url 'basket_adding' %}"> {% csrf_token %}   {# добовляем форму form-inline form-inline(в бутстрепе форма всеэлементы формы будут расположены в одну строку action="{% url 'basket_adding' %}-при нажати кнопки куппить сслка на значение функции basket_adding описанной в order/views  {% csrf_token %}-нужен чтобы не делать пост запросы со сторнних сайтов#}
        <input type="number" class="form-control" name="number" id="number" value="1" style="width: 50px">  {# поле ввода со стрелочками для чисел  form-control(bootstrap-чтобы установить им ширину, равную 100% (всю доступную ширину родительского элемента).) #}

    <button type="submit"  id="submit_btn" class="btn btn-success btn-buy"        {# type="submit"(кнопка для отправки данных на сервер) btn btn-success(оформление bootstrap) btn-buy-описан в style.css #}
            data-product_id = "{{ product_image.product.id }}"   {# data-это атрибут универсальный для всех тегов с изменяюшимися значениями здесь задаем data-product_id(который будет меняться от значения по перемменой  product.id, #}
            data-name="{{  product_image.product.name }}"    {# data-это атрибут универсальный для всех тегов с изменяюшимися значениями здесь задаем data-name(который будет  меняться от значения по перемменой  product.name#}
            data-price="{{ product_image.product.price }}"  {# аналогично строчке выше #}
           >
        В корзину
    </button>
         </form>
{#                          <button class="btn btn-success" id="bt">  {# оформление кнопики  в bootstrap #}
{#                              Купить#}
{#                          </button>#}
{#                                </a>#}
                      </div>
                  </div>
                 </div>
